body{
    font-family: 'Titillium Web';
    font-size: 30px;
}
h2{
    text-decoration: underline;
    font-size:x-large;
}
.margin-top{

}

.v-field--active{
    color: $brand-color;
}

.button{
    background: $brand-color;

}
.search{
    border-radius:30%;
    color: aqua;
}